# Ignore node_modules and vendor (rebuild them in container)
node_modules
vendor

# Ignore Laravel storage symlink
public/storage
storage/*.key

# Ignore .env and other dev files (optional but safer)
.env.*.local
.env

# Ignore git stuff
.git
.gitignore

# IDE / OS metadata
*.log
*.DS_Store
*.swp
*.bak
*.tmp
.vscode
.idea
